{% extends "final/layout.html" %}

{% block body %}
    <div class="container">
        <div class="historyPage">
            <h1 class="display-5 mt-5">My Diaries</h1>
            <div class="error"></div>
            <div class="mt-5">
                <div class="mb-5 pick text-success"><span class="h6">Pick a Date: </span>
                    <input type="date" id="date" name="date" value="{{ today }}">
                </div>
                <div class="history row"></div>
                <div class="chosen"></div>
                <input type="button" class="mt-5 back-2 btn btn-success" value="Back">
            </div>
        </div>
        <div class="one_history shadow-lg p-5 rounded"></div>
    </div>
{% endblock %}