{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link  rel="stylesheet" type="text/css" href="{% static 'final/styles.css' %}">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header shadow">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="p-2 navbar-brand h1 text-white" href="{% url 'index' %}">HealthyPlan</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0 p-2">
                  <li class="nav-item">
                    <a class="nav-link text-white h6 nav" href="{% url 'index' %}">Plans</a>
                  </li>
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link text-white h6 nav" href="{% url 'my_profile' %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white h6 nav" href="{% url 'history_page' %}">My Diaries</a>
                    </li>
                  {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto p-2">
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <div class="nav-link h6 text-white">Signed in as <strong>{{ user.username }}</strong>.</div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white h6 nav" href="{% url 'logout' %}">Log Out</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link text-white h6 nav" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white h6 nav" href="{% url 'register' %}">Register</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        </header>
          {% block body %}
          {% endblock %}
        <footer id="main-footer" class="bg text-center py-1">
          <div class="mt-4 mb-4">
            <p>Copyright &copy; 2022, HealthyPlan By Pargol Givehchi</p>
          </div>
        </footer>
    </body>
    <script src="{% static 'final/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>